# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Build
dist
dist-ssr
*.local
build

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage
.nyc_output

# Environment variables
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Cache
.eslintcache
.stylelintcache

# Server (Python)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
server/uploads/
server/__pycache__/
server/**/__pycache__/
server/.env
server/.env.*

# General
.DS_Store
*.log

# Test Model Files
# *.h5
client/src/hooks/useEnhancedModelInference.ts
client/src/hooks/useEnhancedModelUpload.ts
client/src/services/enhancedModelSuiService.ts
client/src/services/modelSuiService copy.ts
server/utils/enhanced_h5_converter.py
server/docs/txt
server/utils/sam/sam_vit_h_4b8939.pth
server/utils/sam/*.json
server/utils/sam/test/**
server/utils/sam/results/**
server/utils/sam/data/**